/* Layout principal */
#app {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gauche = 2/3, droite = 1/3 */
  height: 100vh;
  /* occupe toute la hauteur */
}

/* Partie graphique */
#chart-container {
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

#marketChart {
  width: 75%;
  height: auto;
  position: absolute;
  margin-left: 25%;
  height: 68%;
}

/* Sidebar */
#sidebar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #333;
  background: #1a1a1a;
  color: white;
}

/* Historique */
#history {
  background: #222;
  border-top: 1px solid #444;
  max-height: 200px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

#history-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background: #333;
}

#history-content {
  padding: 10px;
  font-size: 14px;
}

#tradeWindow {
  background: #1e1e1e;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 20%;
  font-size: 150%;
}

#tradeWindow label {
  display: flex;
  justify-content: space-between;
}

#tradeWindow input {
  width: 30%;
}

#tradeWindow button {
  width: 38%;
  height: 30%;
  margin-inline: 5%;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#buyBtn {
  background: green;
  color: white;
}

#sellBtn {
  background: red;
  color: white;
}

#tradeHistoryContainer {
  margin-top:10px ;
  background: #1e1e1e;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  color: white;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

#tradeHistory {
  width: 100%;
  border-collapse: collapse;
}

#tradeHistory thead {
  background: #2a2a2a;
  position: sticky;
  top: 0;
}

#tradeHistory th,
#tradeHistory td {
  padding: 8px 10px;
  text-align: center;
  border-bottom: 1px solid #333;
}

#tradeHistory tr:hover {
  background: rgba(255, 255, 255, 0.05);
}

#tradeHistory th {
  font-weight: 600;
  text-transform: uppercase;
  color: #bbb;
  font-size: 12px;
}

#tradeHistory td.buy {
  color: #4caf50; /* vert */
  font-weight: bold;
}

#tradeHistory td.sell {
  color: #f44336; /* rouge */
  font-weight: bold;
}

#tradeHistory td.profit {
  color: #00e676;
  font-weight: bold;
}

#tradeHistory td.loss {
  color: #ff5252;
  font-weight: bold;
}

#tradeHistory td.inactive {
  color: #888;
  opacity: 0.7;
}

#balanceWidget {
  background: #1e1e1e;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-block: 10px;
  width: 20%;
  font-size: 1.2em;
  text-align: center;
}

#balanceWidget h3 {
  margin-block: 5px;
}

#balanceAmount {
  font-size: 1.5em;
  font-weight: bold;
  margin-block: 5px;
}

.cancelBtn {
  background: #444;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.cancelBtn:hover {
  background: #ff4444;
}
